apiVersion: cstor.openebs.io/v1
kind: CStorPoolCluster
metadata:
  name: cstor-disk-pool
  namespace: openebs
spec:
  pools:
{%- for item in bdebs -%}
    - nodeSelector:
        kubernetes.io/hostname: "{{ item[node] }}"
      dataRaidGroups:
        - blockDevices:
          - blockDeviceName: "{{ item[bd] }}"
      poolConfig:
        dataRaidGroupType: "stripe"
{%- endfor -%}

