apiVersion: cstor.openebs.io/v1
kind: CStorPoolCluster
metadata:
  name: cstor-disk-pool
  namespace: openebs
spec:
  pools:
{% for item in bdebs %}
    - nodeSelector:
        kubernetes.io/hostname: "{{ item | from_json | json_query('node') }}"
      dataRaidGroups:
        - blockDevices:
          - blockDeviceName: "{{ item | from_json | json_query('bd') }}"
      poolConfig:
        dataRaidGroupType: "stripe"
{% endfor %}